.todo {
  display: flex;
  align-items: center;

  &_action {
    &:hover {
      cursor: pointer;
    }
  }

  &_new,
  &_edit {
    display: flex;
    align-items: baseline;
  }

  &_form {
    display: flex;
    align-items: baseline;
  }
}
